%li
  %a#start-tour{href: "#"}
    %i.icon-question-sign
    = t('buttons.tour_help')

:javascript
  $(document).ready(function() {
    tour = new Tour({
      //backdrop: true,
      name: "mixer-index",
      template: "#{escape_javascript(render partial: 'shared/tour_template')}",
      debug: true,
    });
      tour.addSteps([
        {
            element: "#mixer .panel-body.scrollable",
            title: "Track Mixer",
            content: "This is the track timeline. Click and drag tracks across the timeline to adjust when they start playing. This is useful if you need to adjust the timing of tracks you're about to merge. You can scroll to the right to see more of the track.",
            placement: "top"
        },
        {
            element: ".track_0 .view-track",
            title: "View Jingle",
            content: "Click this to see the jingle that makes up this track.",
            placement: "right"
        },
        {
            element: ".track_0 .track-mixer-delete",
            title: "Remove Track",
            content: "Click this to remove the track from the mixer. <strong>Note:</strong> This only removes it from the mixer, it does not delete the jingle entirely.",
            placement: "right"
        },
        {
            element: ".track_0 .offset",
            title: "Offset Seconds",
            content: "This shows the number of seconds you've offset a track.",
            placement: "right"
        },
        {
            element: ".track-play",
            title: "Play/Stop Button",
            content: "Play and stop the tracks to preview what your merge will sound like. <strong>Note:</strong> It's good to preview a couple of times, because your browser may occasionally lag, causing incorrect offsets.",
            placement: "top"
        }
    ]);
    
    $("body").on("click", "#start-tour", function(e) {
      e.preventDefault();
      tour.restart(true);
    });
  });