= t('site.login_or_register.preamble')

%p
  .btn-group.btn-group-justified
    = link_to(t('buttons.login'), login_path, class: "btn btn-success")
    = link_to(t('buttons.register'), register_path, class: "btn btn-white")