.logo-font {
  /*font-family: 'Oleo Script Swash Caps', cursive;*/
  font-family: 'Pacifico', cursive;
  /*font-family: 'Molle', cursive;*/
}
.logo {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  padding: 7px;
}
.logo.landing {
  float: left !important;
  padding: 8px 0 0 0 !important;
  width: auto;
}
.logo img {
  width: 65px;
  height: 35px;
}
.logo.landing img {
  width: auto;
  height: auto;
}
.nav-brand {
  line-height: normal !important;
  font-size: 100%;
}
.nav-brand.logo {
  padding: 0 !important;
}
.nav-brand img {
  margin-top: 0 !important;
  max-height: 35px !important;
}
.date {
  font-size: 10px;
}

.jingle .track-img img {display: none;}

.panel-short {
  margin: 0;
}
.no-border-top {
  border-top-color: transparent !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.arrow.top:after {
  top: 2px;
}

.navbar-form {
  padding: 0;
  /*float: right !important;*/
  margin: 0 !important;
}

.m-t-n-xs2 {
  margin-top: -8px;
}
.fixed-col-lg-4 {
  position: fixed;
  width: 29%;
}

.comment-reply {
  margin-left: 0 !important;
}

#site_feedback_desc {
  height: 90px;
}

.thumb-sm {
  width: 50px;
  height: 50px;
}

.thumb-sm-2 {
  width: 34px;
  display: inline-block;
}
.thumb-sm-2 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.wrapper.scrollable {
  padding-top: 0;
}

.message_box {
  width: 35%;
}

#loading {
  position: absolute;
  bottom: 20px;
  right: 40px;
  z-index: 999;
}

.character-count {
  position: absolute;
  top: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
}

.modal-body .character-count {
  top: 10px;
}
.modal-body #new_jingle_form .character-count {
  top: 16px;
}

.login_or_register .modal-dialog {
  width: 400px !important;
}

nav.pagination {display: none;}

.nav-pills a.btn:hover {
  color: #ccc !important;
}

.btn-xxs {
  padding: 1px 3px;
  font-size: 10px;
  line-height: 1.3;
  border-radius: 3px;
}



.ui-effects-transfer {
  border: 2px dotted #ccc;
}



#load_more {
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}


.tooltip {position: fixed;}

.datepicker-input {
  width: 100px !important;
}


/* Timeline */
.timeline:before {
  left: 25%;
}
.timeline {
}
.timeline .timeline-caption {
  left: 25%;
  position: relative;
  width: 65%;
  display: block;
}
.timeline .timeline-caption h5 span {
  font-weight: bold;
  font-size: 100%;
  line-height: 18px;
}
.timeline .timeline-caption h5 {
  font-size: 90%;
}
.timeline .timeline-caption .timeline-date {
  font-size: 80%;
}
.timeline .timeline-item:first-child .timeline-caption .panel {
  margin-top: 15px;
}


.m-lg {
  margin: 20px;
}
.m-sm {
  margin: 10px;
}
.m-xs {
  margin: 5px;
}


@media (min-width: 768px) {
  .aside-md {
    width: 270px;
  }
}




#error_explanation {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
#error_explanation h2 {
  margin-top: 0;
  color: inherit;
  font-size: 120%;
  font-weight: bold;
}
#error_explanation > p,
#error_explanation > ul {
  margin-bottom: 0;
}
#error_explanation > p + p {
  margin-top: 5px;
}

#error_explanation hr {
  border-top-color: #e6c1c7;
}






.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1009;
  background-color: #000;
  opacity: 0.8;
}
.tour-step-backdrop {
  position: relative;
  z-index: 1011;
}
.tour-step-background {
  position: absolute;
  z-index: 1010;
  background: #fff;
  border-radius: 6px;
}
.popover[class*="tour-"] .popover-navigation {
  padding: 9px 14px;
}
.popover[class*="tour-"] .popover-navigation *[data-role=end] {
  float: right;
}
.popover[class*="tour-"] .popover-navigation *[data-role=prev],
.popover[class*="tour-"] .popover-navigation *[data-role=next],
.popover[class*="tour-"] .popover-navigation *[data-role=end] {
  cursor: pointer;
}
.popover[class*="tour-"] .popover-navigation *[data-role=prev].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role=next].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role=end].disabled {
  cursor: default;
}
.popover[class*="tour-"].orphan {
  position: fixed;
  margin-top: 0;
}
.popover[class*="tour-"].orphan .arrow {
  display: none;
}





/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}









.appear{
	visibility: hidden;
}

.landing{
	font-size: 14px;
	padding-top: 60px;
}
.landing .navbar-brand{
	font-size: 24px;
}
.landing .navbar.affix{
	left: 0;
	right: 0;
	padding: 0;  
	-webkit-transition: padding ease-in-out 0.3s;
    transition: padding ease-in-out 0.3s;
    background-color: rgba(255,255,255,0.95);
 }
.landing .navbar.affix .hide{display: inherit !important;}

.landing .navbar{
	border-bottom-color: #eee; 
}
.landing .navbar-text{
	margin-bottom: 0;
}
.landing .navbar-nav > .active > a, 
.landing .navbar-nav > .active > a:hover, 
.landing .navbar-nav > .active > a:focus{
	background-color: #f9f9f9;
}

.landing img{
	max-width: 100%;
}
.landing .carousel{	
}
.landing .carousel .carousel-control{
	width: 10%;
}
.landing .carousel .item{
	padding:100px 15px 0 15px;
	height: 580px;
	overflow: hidden;
}
.landing .carousel h2{
	font-size:3em;
	font-weight: 700;
	margin: 60px 0 40px;
	line-height: 1.3
}

.m-xl{
	margin-top: 60px; 
	margin-bottom: 60px;
}

/*phone*/
@media (min-width: 768px) {
	.landing .navbar, 
	.landing .navbar-brand, 
	.landing .navbar ul > li > a{
		line-height: 30px !important;
	}
}
@media (max-width: 767px) {
  .landing #header, 
  .landing  #header .container{
  	padding: 0
  }
  .navbar-toggle{margin:5px 10px 5px 0}
  .landing .navbar-nav{margin: 0}
  .landing .carousel h2{
  	font-size: 25px;
  	margin: 20px 0
  }
  .landing .carousel .item{
  	padding:60px 25px 40px 25px;
  	height: 240px;
  }
}